@switch (state) {
  @case ("success") {
    <mat-card>
      <mat-card-header>
        <mat-card-title class="flex items-center gap-2">
          <mat-icon fontIcon="check_circle_outline" class="text-green-500"></mat-icon>
          <h3 class="text-base font-semibold leading-6 text-gray-900 dark:text-gray-100" i18n>
            Signed out successfully
          </h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="text-sm text-gray-500 dark:text-gray-200 mt-2">
        <p i18n>
          You have been signed out of your account successfully
        </p>
        <p i18n>
          You will be redirected to the home page in {redirectTimeLeft, plural, =1 {1 second} other {{{ redirectTimeLeft }} seconds} }...
        </p>
      </mat-card-content>

      <mat-card-actions class="mt-3">
        <a routerLink="/" class="font-semibold text-primary-500 hover:text-primary-600 text-sm">
          <ng-container i18n>Home page</ng-container>
          <span aria-hidden="true"> &rarr;</span>
        </a>
      </mat-card-actions>
    </mat-card>
  }
  @case ("failed") {
    <mat-card>
      <mat-card-header>
        <mat-card-title class="flex items-center gap-2">
          <mat-icon fontIcon="error_outline" class="text-red-500"></mat-icon>
          <h3 class="text-base font-semibold leading-6 text-gray-900 dark:text-gray-100" i18n>
            Error singing out
          </h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="text-sm text-gray-500 dark:text-gray-200 mt-2">
        <p i18n>
          There was an error trying to sign out of your account.
        </p>
        <p i18n>
          Please check your internet connection and use the button below to try again!
        </p>
      </mat-card-content>

      <mat-card-actions class="mt-3">
        <button type="button" (click)="signOut()" class="font-semibold text-primary-500 hover:text-primary-600 text-sm">
          <ng-container i18n>Retry</ng-container>
          <span aria-hidden="true"> &rarr;</span>
        </button>
      </mat-card-actions>
    </mat-card>
  }
  @default {
    <mat-card>
      <mat-card-content>
        <mat-spinner color="primary" class="mx-auto mt-2" [diameter]="48"></mat-spinner>

        <h3 class="text-base font-semibold leading-6 text-center mt-4 text-gray-900 dark:text-gray-100" i18n>
          Signing out
        </h3>

        <p class="text-center mt-2 text-sm text-gray-500 dark:text-gray-200" i18n>
          You are currently being signed out of your account.
        </p>
      </mat-card-content>
    </mat-card>
  }
}
