.skeleton-loader {
  background-color: var(--mdc-elevated-card-container-color) !important;

  &:before {
    background-image: linear-gradient(
        90deg,
        rgba(243, 244, 246, 0),
        rgba(243, 244, 246, .6),
        rgba(243, 244, 246, 0)
    ) !important;

    @media (prefers-color-scheme: dark) {
      background-image: linear-gradient(
          90deg,
          rgba(59, 59, 59, 0),
          rgba(59, 59, 59, .6),
          rgba(59, 59, 59, 0)
      ) !important;
    }
  }
}
