@if (defraIndex) {
  <mat-card class="group overflow-hidden">
    <mat-card-content class="relative">
      <mat-icon [fontIcon]="icon" class="absolute right-10 top-1/2 transform -translate-y-1/2 scale-[4] group-hover:scale-[5] opacity-5 transition-transform duration-500"></mat-icon>

      <mat-card-subtitle i18n>
        UK Defra Index
      </mat-card-subtitle>
      <mat-card-title>
        @switch (defraIndex?.gbDefraIndex) {
          @case(1) {
            <span class="text-green-500" i18n>Low</span>
          }
          @case(2) {
            <span class="text-green-500" i18n>Low</span>
          }
          @case(3) {
            <span class="text-green-500" i18n>Low</span>
          }
          @case(4) {
            <span class="text-yellow-500" i18n>Moderate</span>
          }
          @case(5) {
            <span class="text-yellow-500" i18n>Moderate</span>
          }
          @case(6) {
            <span class="text-yellow-500" i18n>Moderate</span>
          }
          @case(7) {
            <span class="text-red-500" i18n>High</span>
          }
          @case(8) {
            <span class="text-red-500" i18n>High</span>
          }
          @case(9) {
            <span class="text-red-500" i18n>High</span>
          }
          @case(10) {
            <span class="text-red-500" i18n>Very High</span>
          }
          @default {
            <span class="text-gray-900 dark:text-gray-300" i18n>Unknown</span>
          }
        }
      </mat-card-title>
    </mat-card-content>
  </mat-card>
}
