<div class="min-h-screen flex flex-col">
  <nav class="bg-gray-800 dark:bg-[#2b2b2b]">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="flex h-16 items-center justify-between">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <a routerLink="/" class="text-primary-500 flex items-center gap-3">
              <app-logo-icon width="48px" height="48px"></app-logo-icon>
              <h3 class="text-lg font-bold">Tempradar</h3>
            </a>
          </div>
          <div class="hidden md:block">
            <div class="ml-10 flex items-baseline space-x-4">
              @for (item of navbarItems; track $index) {
                <a [routerLink]="item.uri" routerLinkActive="bg-white/5 text-white" class="text-gray-300 hover:bg-white/5 hover:text-white rounded-md px-3 py-2 text-sm font-medium">
                  {{ item.name }}
                </a>
              }
            </div>
          </div>
        </div>
        <div class="hidden md:block">
          @if(currentIdentity$(); as identity) {
            <div class="ml-4 flex items-center md:ml-6">
              <button type="button" class="relative rounded-full p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                <span class="absolute -inset-1.5"></span>
                <span class="sr-only" i18n>View notifications</span>
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                </svg>
              </button>

              <!-- Profile dropdown -->
              <div class="relative ml-3" #profileDropdownContainer>
                <div>
                  <button type="button" (click)="userDropdownOpen = !userDropdownOpen" class="relative flex max-w-xs items-center rounded-full text-sm text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                    <span class="absolute -inset-1.5"></span>
                    <span class="sr-only" i18n>Open user menu</span>
                    <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                    <div class="mx-3">
                      {{ identity.firstName }}
                      {{ identity.lastName }}
                    </div>
                  </button>
                </div>

                <div class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                     role="menu"
                     [@dropdownAnimation]="userDropdownOpen ? '*' : 'void'"
                     aria-orientation="vertical"
                     aria-labelledby="user-menu-button"
                     tabindex="-1">
                  <!-- Active: "bg-gray-100", Not Active: "" -->
                  <a href="#" class="block w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-0" i18n>Your Profile</a>
                  <a href="#" class="block w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-1" i18n>Settings</a>
                  <a routerLink="/auth/sign-out" class="block w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-2" i18n>Sign out</a>
                </div>
              </div>
            </div>
          } @else {
            <div class="ml-4 flex items-center md:ml-6">
              <a routerLink="/auth/sign-up" mat-button class="text-white">
                Create account
              </a>
              <a routerLink="/auth/sign-in" mat-button class="text-white">
                Sign in
              </a>
            </div>
          }
        </div>
        <div class="-mr-2 flex md:hidden">
          <!-- Mobile menu button -->
          <button type="button" (click)="mobileMenuOpen = !mobileMenuOpen" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-white/5 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" aria-controls="mobile-menu" aria-expanded="false">
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only" i18n>Open main menu</span>
            <!-- Menu open: "hidden", Menu closed: "block" -->
            <svg class="h-6 w-6" [class.block]="!mobileMenuOpen" [class.hidden]="mobileMenuOpen" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!-- Menu open: "block", Menu closed: "hidden" -->
            <svg class="h-6 w-6" [class.block]="mobileMenuOpen" [class.hidden]="!mobileMenuOpen" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="md:hidden" [class.hidden]="!mobileMenuOpen" id="mobile-menu">
      <div class="space-y-1 px-2 pb-3 pt-2 sm:px-3">
        @for (item of navbarItems; track $index) {
          <a [routerLink]="item.uri" routerLinkActive="bg-white/5 text-white" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-white/5 hover:text-white">
            {{ item.name }}
          </a>
        }z
      </div>
      <div class="border-t border-gray-700 pb-3 pt-4">
        @if (currentIdentity$(); as identity) {
          <div class="flex items-center px-5">
            <div class="flex-shrink-0">
              <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
            </div>
            <div class="ml-3">
              <div class="text-base font-medium text-white">{{ identity.firstName }} {{ identity.lastName}}</div>
              <div class="text-sm font-medium text-gray-400">{{ identity.email }}</div>
            </div>
            <button type="button" class="relative ml-auto flex-shrink-0 rounded-full p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
              <span class="absolute -inset-1.5"></span>
              <span class="sr-only" i18n>View notifications</span>
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
              </svg>
            </button>
          </div>
          <div class="mt-3 space-y-1 px-2">
            <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-white/5 hover:text-white" i18n>Your Profile</a>
            <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-white/5 hover:text-white" i18n>Settings</a>
            <a routerLink="/auth/sign-out" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-white/5 hover:text-white" i18n>Sign out</a>
          </div>
        } @else {
          <div class="mt-3 space-y-1 px-2">
            <a routerLink="/auth/sign-in" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-white/5 hover:text-white" i18n>
              Sign in
            </a>
            <a routerLink="/auth/up" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-white/5 hover:text-white" i18n>
              Create account
            </a>
          </div>
        }
      </div>
    </div>
  </nav>

  <header class="bg-white dark:bg-[#3b3b3b] shadow-sm">
    <div class="mx-auto max-w-7xl px-4 py-4 sm:px-6 lg:px-8">
      <h1 class="text-lg font-semibold leading-6 text-gray-900 dark:text-gray-100" i18n>Dashboard</h1>
    </div>
  </header>

  <main class="bg-gray-100 dark:bg-[#242424] grow">
    <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8 dark:text-white">
      <ng-content></ng-content>
    </div>
  </main>
</div>

