@if (city$ | async; as city) {
  <div class="flex flex-col gap-6">
    <mat-card class="px-4 sm:px-6 lg:px-8">
      <mat-card-content class="!p-0 mx-auto flex items-center justify-between gap-x-8 lg:mx-0">
        <div class="flex items-center gap-x-6">
          <div class="w-16 h-16 flex items-center justify-center rounded-full ring-1 ring-yellow-500 dark:ring-yellow-700 text-yellow-500 dark:text-yellow-700 bg-yellow-500/10">
            <mat-icon fontIcon="location_city"></mat-icon>
          </div>
          <h1>
            <div class="text-sm leading-6 text-gray-500 dark:text-gray-400" i18n>
              City
            </div>
            <div class="mt-1 text-lg font-semibold leading-6 text-gray-900 dark:text-gray-300">
              {{ city.name }}
            </div>
          </h1>
        </div>

        <div class="flex items-center gap-x-4 sm:gap-x-6">
          <button type="button"
                  (click)="deleteCity()"
                  mat-button color="warn"
                  class="text-sm font-semibold leading-6 text-gray-900 dark:text-gray-300"
                  [disabled]="deleting$ | async"
                  i18n>
            Delete
          </button>
          <button type="button"
                  (click)="refreshWeatherData()"
                  mat-flat-button color="primary"
                  class="text-sm font-semibold leading-6 text-gray-900 dark:text-gray-300"
                  [disabled]="deleting$ | async"
                  i18n>
            Refresh
          </button>
        </div>
      </mat-card-content>
    </mat-card>

    @if (weather$ | async; as weather) {
      <mat-card>
        <mat-card-content class="grid grid-cols-1 gap-px sm:grid-cols-2 lg:grid-cols-4 divide-x divide-gray-200 dark:divide-gray-500/20">
          <div class="px-4 py-6 sm:px-6 lg:px-8">
            <p class="text-sm font-medium leading-6 text-gray-400" i18n>Temperature</p>
            <p class="mt-2 flex items-baseline gap-x-2">
              <span class="text-4xl font-semibold tracking-tight dark:text-white text-gray-800">
                {{ weather.tempC }}
              </span>
              <span class="text-sm text-gray-400">&deg;C</span>
            </p>
          </div>
          <div class="px-4 py-6 sm:px-6 lg:px-8">
            <p class="text-sm font-medium leading-6 text-gray-400" i18n>Wind Speed</p>
            <p class="mt-2 flex items-baseline gap-x-2">
              <span class="text-4xl font-semibold tracking-tight dark:text-white text-gray-800">
                {{ weather.windKph }}
              </span>
              <span class="text-sm text-gray-400">km/h</span>
            </p>
          </div>
          <div class="px-4 py-6 sm:px-6 lg:px-8">
            <p class="text-sm font-medium leading-6 text-gray-400" i18n>Pressure</p>
            <p class="mt-2 flex items-baseline gap-x-2">
              <span class="text-4xl font-semibold tracking-tight dark:text-white text-gray-800">
                {{ weather.pressureMb }}
              </span>
              <span class="text-sm text-gray-400">mb</span>
            </p>
          </div>
          <div class="px-4 py-6 sm:px-6 lg:px-8">
            <p class="text-sm font-medium leading-6 text-gray-400" i18n>UV Index</p>
            <p class="mt-2 flex items-baseline gap-x-2">
              <span class="text-4xl font-semibold tracking-tight dark:text-white text-gray-800">
                {{ weather.uv }}
              </span>
            </p>
          </div>
        </mat-card-content>
      </mat-card>

      <div class="grid lg:grid-cols-2 gap-6">
        <mat-card class="group overflow-hidden">
          <mat-card-content class="relative">
            <mat-icon fontIcon="error" class="absolute right-10 top-1/2 transform -translate-y-1/2 scale-[4] group-hover:scale-[5] opacity-5 transition-transform duration-500"></mat-icon>

            <mat-card-subtitle i18n>
              US - EPA standard
            </mat-card-subtitle>
            <mat-card-title>
              @switch (weather.usepaIndex) {
                @case(1) {
                  <span class="text-green-500" i18n>Good</span>
                }
                @case(2) {
                  <span class="text-yellow-500" i18n>Moderate</span>
                }
                @case(3) {
                  <span class="text-yellow-500" i18n>Unhealthy for sensitive group</span>
                }
                @case(4) {
                  <span class="text-red-500" i18n>Unhealthy</span>
                }
                @case(5) {
                  <span class="text-red-500" i18n>Very Unhealthy</span>
                }
                @case(6) {
                  <span class="text-red-500" i18n>Hazardous</span>
                }
                @default {
                  <span class="text-gray-900 dark:text-gray-300" i18n>Unknown</span>
                }
              }
            </mat-card-title>
          </mat-card-content>
        </mat-card>
        <mat-card class="group overflow-hidden">
          <mat-card-content class="relative">
            <mat-icon fontIcon="warning" class="absolute right-10 top-1/2 transform -translate-y-1/2 scale-[4] group-hover:scale-[5] opacity-5 transition-transform duration-500"></mat-icon>

            <mat-card-subtitle i18n>
              UK Defra Index
            </mat-card-subtitle>
            <mat-card-title>
              @switch (weather.usepaIndex) {
                @case(1) {
                  <span class="text-green-500" i18n>Low</span>
                }
                @case(2) {
                  <span class="text-green-500" i18n>Low</span>
                }
                @case(3) {
                  <span class="text-green-500" i18n>Low</span>
                }
                @case(4) {
                  <span class="text-yellow-500" i18n>Moderate</span>
                }
                @case(5) {
                  <span class="text-yellow-500" i18n>Moderate</span>
                }
                @case(6) {
                  <span class="text-yellow-500" i18n>Moderate</span>
                }
                @case(7) {
                  <span class="text-red-500" i18n>High</span>
                }
                @case(8) {
                  <span class="text-red-500" i18n>High</span>
                }
                @case(9) {
                  <span class="text-red-500" i18n>High</span>
                }
                @case(10) {
                  <span class="text-red-500" i18n>Very High</span>
                }
                @default {
                  <span class="text-gray-900 dark:text-gray-300" i18n>Unknown</span>
                }
              }
            </mat-card-title>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="grid lg:grid-cols-2 gap-6">
        <mat-card>
          <mat-card-header>
            <mat-card-subtitle i18n>
              Statistics
            </mat-card-subtitle>
            <mat-card-title i18n>
              Temperature History
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="mt-6">
            <canvasjs-chart [options]="chartOptions"></canvasjs-chart>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <mat-card-subtitle i18n>
              Data
            </mat-card-subtitle>
            <mat-card-title i18n>
              Air Quality
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="mt-6 border-t border-gray-100 dark:border-gray-500">
              <dl class="divide-y divide-gray-100 dark:divide-gray-500">
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                  <dt class="text-sm font-medium leading-6 text-gray-900 dark:text-gray-300" i18n>Carbon monoxide (CO)</dt>
                  <dd class="mt-1 text-sm leading-6 text-gray-700 dark:text-gray-400 sm:col-span-2 sm:mt-0">
                    {{ weather.co | number:'1.2-2' }}
                    μg/m<sup>3</sup>
                  </dd>
                </div>
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                  <dt class="text-sm font-medium leading-6 text-gray-900 dark:text-gray-300" i18n>Ozone (O3)</dt>
                  <dd class="mt-1 text-sm leading-6 text-gray-700 dark:text-gray-400 sm:col-span-2 sm:mt-0">
                    {{ weather.o3 | number:'1.2-2' }}
                    μg/m<sup>3</sup>
                  </dd>
                </div>
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                  <dt class="text-sm font-medium leading-6 text-gray-900 dark:text-gray-300" i18n>Nitrogen dioxide (NO2)</dt>
                  <dd class="mt-1 text-sm leading-6 text-gray-700 dark:text-gray-400 sm:col-span-2 sm:mt-0">
                    {{ weather.nO2 | number:'1.2-2' }}
                    μg/m<sup>3</sup>
                  </dd>
                </div>
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                  <dt class="text-sm font-medium leading-6 text-gray-900 dark:text-gray-300" i18n>Sulphur dioxide (SO2)</dt>
                  <dd class="mt-1 text-sm leading-6 text-gray-700 dark:text-gray-400 sm:col-span-2 sm:mt-0">
                    {{ weather.sO2 | number:'1.2-2' }}
                    μg/m<sup>3</sup>
                  </dd>
                </div>
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                  <dt class="text-sm font-medium leading-6 text-gray-900 dark:text-gray-300" i18n>PM 2.5</dt>
                  <dd class="mt-1 text-sm leading-6 text-gray-700 dark:text-gray-400 sm:col-span-2 sm:mt-0">
                    {{ weather.pM2_5 | number:'1.2-2' }}
                    μg/m<sup>3</sup>
                  </dd>
                </div>
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                  <dt class="text-sm font-medium leading-6 text-gray-900 dark:text-gray-300" i18n>PM 10</dt>
                  <dd class="mt-1 text-sm leading-6 text-gray-700 dark:text-gray-400 sm:col-span-2 sm:mt-0">
                    {{ weather.pM10 | number:'1.2-2' }}
                    μg/m<sup>3</sup>
                  </dd>
                </div>
              </dl>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    }
  </div>

} @else {
  <div class="flex flex-col gap-6">
    <ngx-skeleton-loader appearance="circle" [theme]="{ borderRadius: '0.5rem', width: '100%', height: '150px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader appearance="circle" [theme]="{ borderRadius: '0.5rem', width: '100%', height: '150px' }"></ngx-skeleton-loader>
    <div class="grid lg:grid-cols-2">
      <ngx-skeleton-loader appearance="circle" [theme]="{ borderRadius: '0.5rem', width: '100%', height: '150px' }"></ngx-skeleton-loader>
    </div>
  </div>
}
